<!DOCTYPE html>
<html lang="{{{__rac_locale}}}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#3367D6" />
    <meta name="Description" content="Author: TheJSGuy, Type: PWA App, Category: Technology">
    <title>{{{__rac_app_title}}}</title>
    <link rel="manifest" href="{{{__rac_asset_base}}}/manifest.json">
</head>

<body>
    <div __rac_root>{{{__rac_root}}}</div>
    <noscript>
        <h1>You need to enable JavaScript to Use this app</h1>
    </noscript>
    <script>
        /**
         * register worker
         */
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator
                    .serviceWorker
                    .register('{{{__rac_asset_base}}}/service-worker.js', { scope: '/' })
                    .then(registration => console.log('SW registered: ', registration))
                    .catch(registrationError => console.log('SW registration failed: ', registrationError));
            });
        }
    </script>
</body>

</html>